[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yanbi
[access "refs/for/refs/*"]
	read = group user/yanbi
	push = group user/yanbi
	label-Code-Review = -2..+2 group user/yanbi
	label-Verified = -1..+1 group user/yanbi
	rebase = group user/yanbi
	removeReviewer = group user/yanbi
	submit = group user/yanbi
[access "refs/heads/*"]
	read = group user/yanbi
	create = group user/yanbi
	push = +force group user/yanbi
	pushMerge = group user/yanbi
[access "refs/tags/*"]
	push = +force group user/yanbi
	pushTag = group user/yanbi
	pushSignedTag = group user/yanbi
